.customize-control-title {
	margin-top: 15px;
	color: rgb(0, 142, 214);
}
.customizer-repeater-general-control-repeater-container, .customizer-repeater-general-control-repeater_container {
	width: 100%;
	float: left;
	padding: 5px 0;
	cursor:move;
}
.customizer-repeater-general-control-repeater-container .customizer-repeater-box-content-hidden, .customizer-repeater-general-control-repeater-container .customizer-repeater-box-content-hidden {
	padding: 5px;
	border: 1px solid #dfdfdf;
	border-top:0px;
	padding-top: 0px;
}
button.social-repeater-general-control-remove-field {
	display: inline-block;
	white-space: initial !important;
	line-height: 17px !important;
	width: 100%!important;
	margin-top: 10px!important;
}


button.social-repeater-general-control-remove-field:hover{
	background-color:#00a0d2!important;
	color:#FFFFFF!important;
	border: 0;
}


 .customizer-repeater-general-control-repeater-container .customizer-repeater-text-control, .customizer-repeater-general-control-repeater-container .customizer-repeater-link-control{
	width: 100% !important;
	margin: 3px 0 0 !important;
}
 .customizer-repeater-general-control-repeater-container .customizer-repeater-icon-control {
	width: 100%;
	margin: 0;
	padding: 0;
}
#customizer-repeater-new-field {
	width: 100%;
}
.customize-control-widget_form .widget-control-save {
	display:block !important;
}




.customizer-repeater-general-control-repeater-container .customizer-repeater-box-content-hidden{
	display: none;
}

.customizer-repeater-box-content-hidden{
	background-color: #FFFFFF;
}

.customizer-repeater-customize-control-title{
	border: 1px solid #dfdfdf;
	cursor: move !important;
	font-weight: bold;
	padding: 0 10px !important;
	height: 40px;
	line-height: 40px !important;
	background-color: #f1f1f1;
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: linear-gradient(top, #f9f9f9, #ececec);
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	text-align: center;
	color:#00a0d2;
}

.customizer-repeater-image-control .customizer-repeater-custom-media-button{
	margin-top: 5px;
}


.customizer-repeater-general-control-repeater-container .customizer-repeater-box-content-hidden{
    padding-top: 5px;
}











.customizer-icons{
	display: inline-block;
	padding: 0 10px 0 0;
	vertical-align: middle;
}

.social-repeater-remove-social-item{
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	color: #ff0000;
	border: none;
	background: none;
	cursor: pointer;
}

.customizer-repeater-social-repeater > .customizer-repeater-social-repeater-container:not(:first-child){
	margin-top: 25px;
}

.icp-container{
	margin-bottom: 10px;
}

.customizer-repeater-social-repeater-link{
	width:215px!important;
}

.social-repeater-add-social-item{
	margin-top: 10px;
}